### pandas.map

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [ ]:
item = ['TV','TV','냉장고','컴퓨터','냉장고','컴퓨터','에어컨']
item_df = pd.DataFrame(item)
item_df = item_df[0].map({'TV':0, '냉장고':1, '에어컨':2, '컴퓨터':3})
item_df

0    0
1    0
2    1
3    3
4    1
5    3
6    2
Name: 0, dtype: int64

### LabelEncoder

In [ ]:
item2 = ['TV','TV','냉장고','컴퓨터','냉장고','컴퓨터','에어컨']
lbe = LabelEncoder()
item2_lbe = lbe.fit_transform(pd.DataFrame(item2))

print(item2_lbe)
lbe.classes_

[0 0 1 3 1 3 2]

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['TV', '냉장고', '에어컨', '컴퓨터'], dtype=object)

### OneHotEncoder

In [ ]:
item3 = ['TV','TV','냉장고','컴퓨터','냉장고','컴퓨터','에어컨']
ohe = OneHotEncoder(sparse=False)
item3_ohe = ohe.fit_transform(pd.DataFrame(item3))
item3_ohe

array([[1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.]])