In [ ]:
# !sudo apt-get install -y fonts-nanum
# !sudo fc-cache -fv
# !rm ~/.cache/matplotlib -rf
# !pip install pyreadstat
# !pip install --upgrade pandas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kaggle_train.csv')
df.info()
df['Sex']=df['Sex'].map({'male':0,'female':1})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df = df[['Age','Sex','Pclass','Survived']]
df.dropna(inplace=True)
df

<ipython-input-54-88e25ef1b3ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

      Age  Sex  Pclass  Survived
0    22.0    0       3         0
1    38.0    1       1         1
2    26.0    1       3         1
3    35.0    1       1         1
4    35.0    0       3         0
..    ...  ...     ...       ...
885  39.0    1       3         0
886  27.0    0       2         0
887  19.0    1       1         1
889  26.0    0       1         1
890  32.0    0       3         0

[714 rows x 4 columns]

In [ ]:
X = df[['Sex','Age','Pclass']].values
y = df['Survived'].values
# 학습+테스트 분리
# 로지스틱 회귀분석 모델 생성 및 학습
# 교차 검증 및 하이퍼파라미터 최적화
# 생존율 예측

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))
# 회귀계수
model.coef_

0.805607476635514
0.7541899441340782

array([[ 2.57255859, -0.0336873 , -1.20602906]])

In [ ]:
# 여자, 15세
person1 = np.array([1,35,3])
# 남자, 36세
person2 = np.array([0,16,1])
my_pred = np.array([person1, person2])
print(model.predict(my_pred))
model.predict_proba(my_pred)

[1 1]

array([[0.49751375, 0.50248625],
       [0.38001056, 0.61998944]])