In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from pandas import DataFrame

In [2]:
def korean_font():
    plt.rc('font', family='AppleGothic')
    plt.rcParams['axes.unicode_minus'] = False

## 스칼라: 상수, vector:1차원, matrix:2차원, tensor:3차원 이상
### series: vector, dataFrame: matrix

In [36]:
def serise_pa():
    # 2015년도 각 도시의 인구
    s = pd.Series([131313,131213,124112,121123],
                 index=['서울','부산','인천','대구'])
#     print(s)
#     print(s.values)
#     print('벡터화 연산: \n', s/10000)
#     print(f's[1]:{s[1]},s["부산"]:{s["부산"]}')
    # 부분 인덱싱
#     s_idx = s[[0,3,1]]
#     print(s_idx)
#     s_idx2 = s[['서울','대구']]    
#     print(s_idx2)
#     print()
    # slicing
#     print(s[1:3])
#     print(s[1:-1])          
#     print(s[::-1])
#     print(s[::3])
    # 객체처럼 . 으로 접근
    print(f'대구:{s.대구} 부산:{s.부산}')
    print('서울 검색', '서울' in s)
    
    for key,value in s.items():
        print(f'key:{key}, value: {value}')

In [75]:
def frame_pd():
    data = {
        '2015':[131313,131213,124112,121123],
        '2016':[921313,211213,354112,341223],
        '2017':[141313,641213,654112,341523],
        '2018':[891313,891213,864112,561123],
        '지역':['수도권','경기도','충청도','전라도'],
        '2015~2018증가율':[0.022,0.031,0.042,0.033]
    }
    index = ['서울','대구','천안','광주']
    df = pd.DataFrame(data, index=index)
    df['2015~2018증가율']=df['2015~2018증가율']*100
    df['2017~2018증가율']=(df['2018']-df['2017'])/df['2017']*100
    
    #print(type(df))
    #print(type(df['지역']))#Serise
    #print(df['지역'])#DataFrame
    #print(df[['지역']])#DataFrame
    #print(df.values)
    
    # loc:컬럼명, ilco:인덱스
    #print(df.loc['서울'])
    #print(df.loc['서울'].values)
    #print(df.loc['서울']['2018'])
    #print(df.iloc[0])
    
    # 전치행렬
    print(df)
    print(df.T)

## Ex_1_frame
    # columns = 국어, 영어, 수학
    # 4명(춘향, 몽룡, 향단, 방자)의 점수를 임으로 설정하고,
    # 1. 모든 학생의 수학 점수 출력
    # 2. 모든 학생의 국어, 영어 점수 출력
    # 3. 모든 학생의 각 과목 평균 점수를 새로운 컬럼에 추가
    # 4. 방자의 영어 점수를 80점으로 수정하고 평균 점수 새로 계산하여 출력

In [106]:
def ex_1_frame():
    data = {
        '국어':[80,76,57,97],
        '영어':[70,34,54,75],
        '수학':[80,56,78,89]
    }
    index = ['춘향','몽룡','향단','방자']
    df = pd.DataFrame(data,index=index)
    print(df['수학'])
    print(df.loc[:,'수학'])
    
    print(df.loc[:,['국어','영어']])
    df['평균점수'] = round((df['국어']+df['영어']+df['수학'])/3,2)
#    df['평균점수'] = round((df.mean(axis=1),2)
    
    print(df)
    
    df.loc['방자','영어']=80
    print(df)

In [107]:
if __name__ =='__main__':
    #serise_pa()
    #frame_pd()
    ex_1_frame()

춘향    80
몽룡    56
향단    78
방자    89
Name: 수학, dtype: int64
춘향    80
몽룡    56
향단    78
방자    89
Name: 수학, dtype: int64
    국어  영어
춘향  80  70
몽룡  76  34
향단  57  54
방자  97  75
    국어  영어  수학   평균점수
춘향  80  70  80  76.67
몽룡  76  34  56  55.33
향단  57  54  78  63.00
방자  97  75  89  87.00
    국어  영어  수학   평균점수
춘향  80  70  80  76.67
몽룡  76  34  56  55.33
향단  57  54  78  63.00
방자  97  80  89  87.00