In [1]:
import sys
import pymysql as db
import mysql_module as mym

In [2]:
# 메뉴 처리
def dbMenu():
    print('-----------------------')
    print('DB 제어 프로그램 1.0')
    print('-----------------------')
    print('1. 테이블 생성')
    print('2. 테이블 삭제')
    print('3. 데이터 추가')
    print('4. 전체 데이터 삭제')
    print('5. 전체 데이터 보기')
    print('6. 데이터 수정')
    print('7. 프로그램 종료')
    print('-----------------------')
    print('메뉴입력: ', end='')
    menu = input() # 메뉴 번호 입력
    
    if menu == '1':
        create_tbl()
        print('테이블 생성 기능 추가')
    elif menu == '2':
        print('테이블 삭제 기능 추가')
    elif menu == '3':
        dbInstert()
    elif menu == '4':
        print('전체 데이터 삭제 추가')
    elif menu == '5':
        print('전체 데이터 보기 추가')
    elif menu == '6':
        print('데이터 수정')
    elif menu == '7':
        dbClose()
        sys.exit()

In [3]:
con = None
curs = None
def dbConnect():
    global con
    global curs
    con = db.connect(host='localhost', user='root', 
        password='1234', db='mydb')
    curs = con.cursor()
    if con is None:
        print('DB 접속 에러')
    else:
        print('DB 접속 성공')

In [4]:
def dbClose():
    if con is not None:
        print('DB 접속 해제')
        con.close()

In [5]:
def dbInstert():
    query = "insert into mycard value(0, '홍길동', \
        '010-1111-9999', 'jun@korea.com','조선 산골');"
    curs.execute(query)
    con.commit()

In [11]:
def create_tbl():
    try:
        sql = """
            create table student_addr (
                id INT(10),
                name varchar(20),
                age INT(10),
                addr varchar(80))"""
        curs.execute(sql)
        con.commit()
        print('테이블 생성 성공!')
    except db.DatabaseError as e:
        print("err 발생!")

In [12]:
#############################################
if __name__ == "__main__":
    dbConnect()
    #mym.connectDB()
    while True:
        dbMenu()

DB 접속 성공
-----------------------
DB 제어 프로그램 1.0
-----------------------
1. 테이블 생성
2. 테이블 삭제
3. 데이터 추가
4. 전체 데이터 삭제
5. 전체 데이터 보기
6. 데이터 수정
7. 프로그램 종료
-----------------------
메뉴입력: 1
테이블 생성 성공!
테이블 생성 기능 추가
-----------------------
DB 제어 프로그램 1.0
-----------------------
1. 테이블 생성
2. 테이블 삭제
3. 데이터 추가
4. 전체 데이터 삭제
5. 전체 데이터 보기
6. 데이터 수정
7. 프로그램 종료
-----------------------
메뉴입력: 3

ProgrammingError: (1146, "Table 'mydb.mycard' doesn't exist")